@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;  
    font-family: 'Josefin Sans', 'sans-serif';
    box-sizing: border-box; 
    font-weight: bolder;
    font-size: small;
}

.backgrnd{
    background-image: url(p.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.booking-form{
    
    border-radius: 10px;
    box-shadow: b;
    max-width: 500px;
    width: 80%;
    margin: 6% auto;
    position: relative;
    background: rgb(248, 240, 241);
    padding: 5px;
    color: black;
}
.booking-form h2{
    text-align: center;
}
.booking-form form{
    display: flex;
    flex-direction: column;
}
.booking-form input{
     width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #8f42a6;
    outline: none;
    background: transparent;
    color: black;
}
.booking-form button{
    margin-top: 10px;
    padding: 10px;
    background-color:#160A1E;
    color: rgb(254, 255, 254);
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.booking-form button:hover{
    background-color: #540c50;
}