*{
    margin: 0;
    padding: 0;  
    font-family: 'Josefin Sans', 'sans-serif';
    box-sizing: border-box; outline: none; border: none;
    text-transform: uppercase;
    transition: all .2s linear;
    color: black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background: linear-gradient(to right, #929bcf, #e9b5df);
    padding-bottom: 70px;

}
.container form{
    padding: 50px; width: 700px;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.container form .row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.container form .row .col{
    flex:  1 1 250px;
}

.container form .row .col .title{
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.container form .row .col .inputbox{
    margin: 15px 0;
}

.container form .row .col .inputbox span{
    margin-bottom: 5px;
    display: block;
}

.container form .row .col .inputbox input {
    width: 100%;
    border: none; 
    border-bottom: 1px solid #7f1f1f; 
    padding: 20px 15px;
    font-size: 15px;
    text-transform: none;
}

.container form .row .col .inputbox input:focus {
    border-bottom: 1px solid #000; 
}

.container form .row .col .flex{
    display: flex;
    gap: 20px;
}

.container form .row .col .flex .inputbox{
    margin-top: 5px;
}

.container form .row .col .flex .inputbox img{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: pink;
    color: black;
    margin-top: 5px;
    cursor: pointer;
}

.container form .submit-btn hover{
    background: rgb(204, 114, 129);
}