header h1 {
  text-align: center;
  font-size: 40px;
  color: white;
  background-color: rgb(42, 85, 205);
  font-family: 'Poppins', sans-serif;
}

header h2 {
  padding: 40px;
  background-color: rgb(42, 85, 205);
  font-family: 'Poppins', sans-serif;
  color: white;

}

body {

  font-family: 'Poppins', sans-serif;
}

nav {
  background-color: #333;
  overflow: hidden;
}

.option-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.option {
  background-color: #847474;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  width: 800px;
  height: 80px;
  position: relative;
  display: flex;

}
.option:hover {
  background-color:  #6b6060;
}

.p {
  background-color: rgb(42, 85, 205);
  margin-top: 20px;
  color: aliceblue;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  display: inline-block;
  width: 150px;
  height: 20px;
  margin-left: auto
}

.p:hover {
  background-color: rgb(17, 55, 176);

}

.wishlist-icon {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 50%;
  box-sizing: border-box;
}

.heart {
  color: #f0dbdb;
  position: absolute;
  margin-left: auto;
  margin-top: auto;
  z-index: 999;
  cursor: pointer;
  font-size: 30px;
}

.heart-checkbox {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.heart:hover {
  color: rgb(219, 81, 66);
}

.heart-checkbox:checked+.heart {
  color: red;
}
