.container {
  max-width: 1200px;
  margin-top: 100px;
  padding: 1rem;
  display: grid;
  gap: 10rem;
}

.container__left h1 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 500;
}

.container__left p {
  margin-bottom: 1rem;
}


.container__right {
  display: grid;
  gap: 2rem;
}

.card {
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card img {
  max-width: 75px;
  border-radius: 100%;
}

.card__content {
  display: flex;
  gap: 1rem;
}

.card__content span i {
  font-size: 2rem;
  color: #6c1e04;
}

.card__details p {
  font-style: italic;
  color: black;
  margin-bottom: 1rem;
}

.card__details h4 {
  text-align: right;
  color: #6c1e04;
  font-weight: bold;
  font-size: 1rem;
  font-weight: 500;
}


