h1 {

    font-size: 40px;
    color: rgb(14, 13, 13);
    font-family: 'Josefin Sans', 'sans-serif';
  }
  
  h3 {
    padding: 40px;
  font-family: 'Josefin Sans', 'sans-serif';
    color: rgb(19, 18, 18);
    font-size: 20px;
  
  }
  
  body {
    font-family: 'Josefin Sans', 'sans-serif';
  }
  
  .createfolder {
    display: flex; 
    align-items: center; 
    padding: 10px 20px;
    border-radius: 5px; 
    border: 1px solid #ccc; 
    background-color:  rgb(42, 85, 205);
    justify-content: center; 
    width: 200px;
    color:  #ccc; 
    margin-left: auto; 
    margin-right: 10px; /
  }
  .createfolder:hover {
    background-color: rgb(17, 55, 176);
  
  }

  .wrapper
  {
    display: flex; 
    align-items: center; 
    padding: 10px 20px;
    border-radius: 5px; 
    justify-content: center; 
    margin-left: auto;
    color:  #ccc; 
  }
  .container {
    display: flex; 
    flex-wrap: wrap;
    width: 250px;
    height: 320px; 
    border: 2px solid black;
  }
  
  
  .folder {
  width: 200px;
  height: 200px; 
  border: 5px solid black;
  padding: 12px 30px; 
  border-radius: 8px;
  margin: 10px 20px; 
  }
  .folderinfo
  {
    width: 200px;
    height: 60px; 
    border: 2px solid black;
    padding: 12px 30px; 
    border-radius: 8px;
    margin: 10px 20px; 
    bottom: 10px; 
    right: 10%;
  }
  .loginbutton
  {
    display: flex; 
    align-items: center;
    padding: 10px 20px; 
    border-radius: 5px;  
    background-color:rgb(42, 85, 205);
    width: 100px;
    height: 30px;
    color:#ccc;
    justify-content: center; 
  }
  .loginbutton:hover {
    background-color: rgb(17, 55, 176);
  
  }
  .loginbuttontext{
    color:#ccc;
  }
  .text{
    height: 500px;
    width: 100%;
    margin-left: auto; 
    margin-right: 40px; 
    padding-left: 20px; 
    font-size: 20px;
    background-image: url("/Atlas Tripster/Resources/Atlas/IMAGES/wishlistbg.jpg"); 
    background-size: cover; 
    background-position: center; 
  }
  .emptywishlist
  {
    height: 300px;
    width: 500px;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    }
    .emptywishlist img {
      display: block;
      margin: 0 auto;
    }
